<%- include("partials/header.ejs") %>
<body>
  <div class="wrapper">
<%- include("partials/aside.ejs") %>
    <div class="blog-container">
      <div class="view-posts">
        <div class="blog">
          <h2 class="blog-title"><%= title; %></h2>
          <p class="blog-content"><%= content; %></p>
        </div>
      </div>
    </div>
  </div>
<%- include("partials/footer.ejs") %>
